## Extracting the Dinesafe features

In [1]:
import pandas as pd
import numpy as np

In [2]:
!ls univ

mapped_dinesafe.p  README.md  tor_rest.p  tor_reviews.p  tor_users.p

In [3]:
!ls features

README.md  vec_sim.p  wip_vec_reviews.p

In [10]:
!ls ../data

dinesafe.csv			     yelp_academic_dataset_photo.json
wiki-news-300d-1M.vec		     yelp_academic_dataset_review.json
yelp_academic_dataset_business.json  yelp_academic_dataset_tip.json
yelp_academic_dataset_checkin.json   yelp_academic_dataset_user.json

In [4]:
dfrest = pd.read_pickle('univ/tor_rest.p')
dfrest.shape

(10914, 14)

In [5]:
dfmap = pd.read_pickle('univ/mapped_dinesafe.p')
dfmap.shape

(5184, 1)

In [8]:
dfrest.head()

,address,attributes,categories,city,hours,is_open,latitude,longitude,name,neighborhood,postal_code,review_count,stars,state
business_id,,,,,,,,,,,,,,
9A2quhZLyWk0akUetBd8hQ,631 Bloor St W,"{'BusinessParking': '{'garage': False, 'street...","Food, Bakeries",Toronto,None,0,43.664378,-79.414424,Bnc Cake House,Koreatown,M6G 1K8,7,4.0,ON
6OuOZAok8ikONMS_T3EzXg,"3417 Derry Road E, Unit 103","{'Alcohol': 'none', 'BusinessAcceptsCreditCard...","Restaurants, Thai",Mississauga,None,1,43.712946,-79.632763,Thai One On,Ridgewood,L4T 1A8,7,2.0,ON
tZnSodhPwNr4bzrwJ1CSbw,595 Markham Street,"{'Alcohol': 'full_bar', 'Ambience': '{'romanti...","Cajun/Creole, Southern, Restaurants",Toronto,"{'Tuesday': '17:0-1:0', 'Wednesday': '17:0-1:0...",0,43.664125,-79.411886,Southern Accent Restaurant,Palmerston,M6G 2L7,146,4.0,ON
5J3b7j3Fzo9ISjChmoUoUA,746 Street Clair Avenue W,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Food, Bakeries, Coffee & Tea",Toronto,"{'Monday': '7:30-19:0', 'Tuesday': '7:30-19:0'...",1,43.681328,-79.427884,Mabel's Bakery,Wychwood,M6C 1B5,23,4.0,ON
PMDlKLd0Mxj0ngCpuUmE5Q,99 Yorkville Avenue,"{'Ambience': '{'romantic': False, 'intimate': ...","Restaurants, Food, Canadian (New), Coffee & Tea",Toronto,None,0,43.670885,-79.392379,The Coffee Mill Restaurant,Yorkville,M5R 3K5,25,3.5,ON

In [9]:
dfmap.head()

                        mapped_ROW_ID
yelp_business_id
Be7Mwq06nf1eNLblo1ekow           5320
YIez_A3WOt9J2SXN7OMa2Q          56198
cuXCQM-9VwpZlSneEY1b3w          69632
i2Fd0dl39BZ8nVxBnSPsKg          74162
_T8qy9XAKAFLJdmoLg1Q-g          71014

In [11]:
dfdine = pd.read_csv('../data/dinesafe.csv')
dfdine.shape

(90520, 17)

In [15]:
dfdine.columns

Index(['Unnamed: 0', 'ROW_ID', 'ESTABLISHMENT_ID', 'INSPECTION_ID',
       'ESTABLISHMENT_NAME', 'ESTABLISHMENTTYPE', 'ESTABLISHMENT_ADDRESS',
       'LATITUDE', 'LONGITUDE', 'ESTABLISHMENT_STATUS',
       'MINIMUM_INSPECTIONS_PERYEAR', 'INFRACTION_DETAILS', 'INSPECTION_DATE',
       'SEVERITY', 'ACTION', 'COURT_OUTCOME', 'AMOUNT_FINED'],
      dtype='object')

In [14]:
dfdine.head()

,Unnamed: 0,ROW_ID,ESTABLISHMENT_ID,INSPECTION_ID,ESTABLISHMENT_NAME,ESTABLISHMENTTYPE,ESTABLISHMENT_ADDRESS,LATITUDE,LONGITUDE,ESTABLISHMENT_STATUS,MINIMUM_INSPECTIONS_PERYEAR,INFRACTION_DETAILS,INSPECTION_DATE,SEVERITY,ACTION,COURT_OUTCOME,AMOUNT_FINED
0,0,1,1222579,103868579,SAI-LILA KHAMAN DHOKLA HOUSE,Food Take Out,870 MARKHAM RD,43.76798,-79.229029,Pass,2,Operator fail to properly wash equipment,2016-12-21,M - Minor,Notice to Comply,,
1,1,2,1222579,104063869,SAI-LILA KHAMAN DHOKLA HOUSE,Food Take Out,870 MARKHAM RD,43.76798,-79.229029,Pass,2,NaN,2017-10-04,NaN,NaN,NaN,NaN
2,2,3,1222579,104246429,SAI-LILA KHAMAN DHOKLA HOUSE,Food Take Out,870 MARKHAM RD,43.76798,-79.229029,Pass,2,Fail to Hold a Valid Food Handler's Certificat...,2018-06-20,NA - Not Applicable,Notice to Comply,,
3,3,4,1222579,104246429,SAI-LILA KHAMAN DHOKLA HOUSE,Food Take Out,870 MARKHAM RD,43.76798,-79.229029,Pass,2,Operator fail to properly wash equipment,2018-06-20,M - Minor,Notice to Comply,,
4,4,5,1222579,104246429,SAI-LILA KHAMAN DHOKLA HOUSE,Food Take Out,870 MARKHAM RD,43.76798,-79.229029,Pass,2,Operator fail to properly wash surfaces in rooms,2018-06-20,M - Minor,Notice to Comply,,

In [17]:
dfdine['ESTABLISHMENT_STATUS'].unique()

array(['Pass', 'Conditional Pass', 'Closed'], dtype=object)

In [18]:
dfdine['SEVERITY'].unique()

array(['M - Minor', nan, 'NA - Not Applicable', 'S - Significant',
       'C - Crucial'], dtype=object)

In [20]:
df_dine_small = dfdine[['ROW_ID', 'ESTABLISHMENT_STATUS', 'SEVERITY']].copy()
df_dine_small.head()

   ROW_ID ESTABLISHMENT_STATUS             SEVERITY
0       1                 Pass            M - Minor
1       2                 Pass                  NaN
2       3                 Pass  NA - Not Applicable
3       4                 Pass            M - Minor
4       5                 Pass            M - Minor

In [23]:
dfm = dfrest.join(dfmap, how='left').reset_index().merge(df_dine_small, how='left', left_on='mapped_ROW_ID', right_on='ROW_ID')

In [25]:
df_final = dfm[['business_id', 'ESTABLISHMENT_STATUS', 'SEVERITY']].copy()
df_final.head()

              business_id ESTABLISHMENT_STATUS SEVERITY
0  9A2quhZLyWk0akUetBd8hQ                  NaN      NaN
1  6OuOZAok8ikONMS_T3EzXg                  NaN      NaN
2  tZnSodhPwNr4bzrwJ1CSbw                  NaN      NaN
3  5J3b7j3Fzo9ISjChmoUoUA                  NaN      NaN
4  PMDlKLd0Mxj0ngCpuUmE5Q                  NaN      NaN

In [26]:
df_final

                  business_id ESTABLISHMENT_STATUS             SEVERITY
0      9A2quhZLyWk0akUetBd8hQ                  NaN                  NaN
1      6OuOZAok8ikONMS_T3EzXg                  NaN                  NaN
2      tZnSodhPwNr4bzrwJ1CSbw                  NaN                  NaN
3      5J3b7j3Fzo9ISjChmoUoUA                  NaN                  NaN
4      PMDlKLd0Mxj0ngCpuUmE5Q                  NaN                  NaN
5      Be7Mwq06nf1eNLblo1ekow     Conditional Pass      S - Significant
6      YIez_A3WOt9J2SXN7OMa2Q                 Pass                  NaN
7      xuUzASHWjRJRFv6Ck5pO7g                  NaN                  NaN
8      mr3rQcYBKWu2L6o7qtQ9Wg                  NaN                  NaN
9      Q_cfbLdAxkLiEZW5TO5T6A                  NaN                  NaN
10     cuXCQM-9VwpZlSneEY1b3w     Conditional Pass      S - Significant
11     hsWx7ya8jLMhi8ZWX23Thg                  NaN                  NaN
12     DcyeRzICLrMkrPpJDzjQ6Q                  NaN                  NaN
13     i2Fd0dl39BZ8nVxBnSPsKg                 Pass            M - Minor
14     2j5hnwYzS-YLJn6IFqloCw                  NaN                  NaN
15     _T8qy9XAKAFLJdmoLg1Q-g     Conditional Pass      S - Significant
16     FI6XxleZ6Z1xJ9BS4zLKgQ                  NaN                  NaN
17     vwVoksbTKehDP8ZGUQaVfQ                 Pass      S - Significant
18     AoItX6upESFG_EowRa05eg                  NaN                  NaN
19     Omn2qqVcTpH9J883EVhQ7g                  NaN                  NaN
20     Gv8u5bX_Kd7HG7jkeF_vWA                  NaN                  NaN
21     3YKV1eralyrKQqoWOTJMDA                 Pass                  NaN
22     ZP_1K8uC-YGbdPQ0KfNJog                 Pass            M - Minor
23     xS5Tg_H9GBEyOTWl9JwhvA     Conditional Pass      S - Significant
24     YSBOJuLA70d6s1fAWBjbAA                  NaN                  NaN
25     4qSb9hR5F4D_dq31FJVj8w                 Pass            M - Minor
26     A6VyAvF5jNYTK3WivFsJSg                  NaN                  NaN
27     Eurlf_tYXQABim-jhXYuVw                  NaN                  NaN
28     SS0zUU0cUkQd1Lp_h3tgaQ                  NaN                  NaN
29     b0la3LqC0mIlBVlQDyMyTQ                  NaN                  NaN
...                       ...                  ...                  ...
10884  KD5pzTYzTbJ_QB2rZa8b9A                 Pass            M - Minor
10885  mpTdK7oheF6grPRigiTJKg                  NaN                  NaN
10886  0TCn9BonClf7NUeoewCu9g                  NaN                  NaN
10887  e5WAfCqfd_66zgrHmn8CiQ                 Pass                  NaN
10888  JfbbFcJgj8Zfn9SjGDnBgQ     Conditional Pass      S - Significant
10889  li0sU2BBM6P8B5u5-RRCMA                  NaN                  NaN
10890  X67a8NpGhqQWdzZt0zuCQg                 Pass  NA - Not Applicable
10891  BmPxH4qSViweZGCQjfJGtQ                 Pass      S - Significant
10892  83FpEL18pfKyr1Rx1tj5ug                  NaN                  NaN
10893  jS6i--1iVudrIZNhKrG6-Q                  NaN                  NaN
10894  DuDZ4FZ_UxGQ-3GPuk8iJw                  NaN                  NaN
10895  tAzdE1tRcsznfWN6TOLP3Q     Conditional Pass      S - Significant
10896  Qc_lVQyMonRhejPp3Ua5SA                  NaN                  NaN
10897  J5puhDnVL9WetWnWWDMhQw                  NaN                  NaN
10898  Kdt5XrqARBMIH694fgnyuA                  NaN                  NaN
10899  -qDnp-lYRiJA6x9tupyNUg                 Pass                  NaN
10900  yBLXALxMzP_759HWSP4VKA                  NaN                  NaN
10901  ifAv4IoaHVkQyrcE-L51Lw                  NaN                  NaN
10902  Te6UyOa7LUbAHc9aQwtliw                 Pass      S - Significant
10903  8qNSDMI-Joruktx7kHZVfQ                 Pass      S - Significant
10904  4LXZzgsrM1ZyS_-uB9Od2Q                 Pass      S - Significant
10905  -EX_qttyhm5YNb8NWtAcCQ                 Pass            M - Minor
10906  s-K-lEOvhRPHnW6FvSUXmw                  NaN                  NaN
10907  eeyekhEcL3nf22V71b0Vqw                 Pass            M - Minor
10908  G6aNyWVp2UjgKRidP_U2jw                 Pass                  NaN
10909  dxBeA7XHTlBQKu9ypEJxwg                 Pass                  NaN
10910  Ykn6eHLY8vPHuUH7UQrvxw                  NaN                  NaN
10911  W5d8iNog90R-qw43m5dGwg                 Pass            M - Minor
10912  G8mz50lT484Ak6qP2N-whQ                 Pass      S - Significant
10913  OAmRh1fSiTgtR1e0D4JsVQ                  NaN                  NaN

[10914 rows x 3 columns]

In [28]:
es = pd.get_dummies(dfm['ESTABLISHMENT_STATUS'])
sev = pd.get_dummies(dfm['SEVERITY'])

In [30]:
df_final.columns

Index(['business_id', 'Closed', 'Conditional Pass', 'Pass', 'C - Crucial',
       'M - Minor', 'NA - Not Applicable', 'S - Significant'],
      dtype='object')

In [31]:
renamer = {
    'Closed':'dinesafe_rev_closed',
    'Conditional Pass':'dinesafe_rev_condpass',
    'Pass':'dinesafe_rev_pass',
    'C - Crucial':'dinesafe_status_crucial',
    'M - Minor':'dinesafe_status_minor',
    'NA - Not Applicable':'dinesafe_status_na',
    'S - Significant':'dinesafe_status_significant',
}

In [35]:
df_final = pd.concat([dfm[['business_id']], es, sev], axis=1)
df_final.rename(columns=renamer, inplace=True)
df_final.set_index('business_id', inplace=True)
df_final.head()

,dinesafe_rev_closed,dinesafe_rev_condpass,dinesafe_rev_pass,dinesafe_status_crucial,dinesafe_status_minor,dinesafe_status_na,dinesafe_status_significant
business_id,,,,,,,
9A2quhZLyWk0akUetBd8hQ,0,0,0,0,0,0,0
6OuOZAok8ikONMS_T3EzXg,0,0,0,0,0,0,0
tZnSodhPwNr4bzrwJ1CSbw,0,0,0,0,0,0,0
5J3b7j3Fzo9ISjChmoUoUA,0,0,0,0,0,0,0
PMDlKLd0Mxj0ngCpuUmE5Q,0,0,0,0,0,0,0

In [36]:
df_final.to_pickle('features/dinesafe.p')