In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import display

In [2]:
rest = pd.read_pickle("univ/tor_rest.p")
review = pd.read_pickle("univ/tor_reviews.p")

In [3]:
display(rest.head())
display(review.head())

,address,attributes,categories,city,hours,is_open,latitude,longitude,name,neighborhood,postal_code,review_count,stars,state
business_id,,,,,,,,,,,,,,
9A2quhZLyWk0akUetBd8hQ,631 Bloor St W,"{'BusinessParking': '{'garage': False, 'street...","Food, Bakeries",Toronto,None,0,43.664378,-79.414424,Bnc Cake House,Koreatown,M6G 1K8,7,4.0,ON
6OuOZAok8ikONMS_T3EzXg,"3417 Derry Road E, Unit 103","{'Alcohol': 'none', 'BusinessAcceptsCreditCard...","Restaurants, Thai",Mississauga,None,1,43.712946,-79.632763,Thai One On,Ridgewood,L4T 1A8,7,2.0,ON
tZnSodhPwNr4bzrwJ1CSbw,595 Markham Street,"{'Alcohol': 'full_bar', 'Ambience': '{'romanti...","Cajun/Creole, Southern, Restaurants",Toronto,"{'Tuesday': '17:0-1:0', 'Wednesday': '17:0-1:0...",0,43.664125,-79.411886,Southern Accent Restaurant,Palmerston,M6G 2L7,146,4.0,ON
5J3b7j3Fzo9ISjChmoUoUA,746 Street Clair Avenue W,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Food, Bakeries, Coffee & Tea",Toronto,"{'Monday': '7:30-19:0', 'Tuesday': '7:30-19:0'...",1,43.681328,-79.427884,Mabel's Bakery,Wychwood,M6C 1B5,23,4.0,ON
PMDlKLd0Mxj0ngCpuUmE5Q,99 Yorkville Avenue,"{'Ambience': '{'romantic': False, 'intimate': ...","Restaurants, Food, Canadian (New), Coffee & Tea",Toronto,None,0,43.670885,-79.392379,The Coffee Mill Restaurant,Yorkville,M5R 3K5,25,3.5,ON

,business_id,cool,date,funny,review_id,stars,text,useful,user_id
0,f5O7v_X_jCg2itqacRfxhg,0,2017-10-12,0,kS4hrhEScwB9V5JATYjvVQ,5,Sansotei serves some top notch ramen. They tak...,0,hxqo4NyJFfeOmuoVi--s1A
1,Edr6SafmQrZa6CcFuItoqg,0,2014-06-03,0,U04YgYr4PiGUxB46J4xapg,2,Limited vegetarian options. Ordered Greek sala...,0,B7Fh30KQT1xPSGt_pIhRRA
2,7xA6iSP0Ndn08tpBFQtUKA,0,2017-05-22,0,YDJDfKnx6VpMMo4EBxycGg,1,Non-existened service! The waiter did not eve...,0,FCtoTo9zSH1cSAkascfEHw
3,SmizR7MLt-558FJJQRBBoQ,1,2011-06-01,1,2Hk7DNwu3rb2jKHaFfPyCA,4,It might be a bit unfair to review Globe so ea...,1,YHWsLBS8jzZiPjKHMFOaAA
4,iKMLsX1Je7P3wAOEc9scDg,0,2011-11-07,0,D2TcNaPqXxDGQ6T0n-vHXw,4,I have been itching to get to Origin for month...,4,YHWsLBS8jzZiPjKHMFOaAA

In [4]:
review.groupby('business_id', as_index=False)[['stars']].mean()

                  business_id     stars
0      --DaPTJW3-tB1vP-PfdTEg  3.688889
1      --SrzpvFLwP_YFwB_Cetow  3.522727
2      --lZAZSwpP_axKoL4lR9dQ  4.333333
3      -0CCHBui57tZ_1y_14X-5Q  4.666667
4      -0CTrPQNiSyClxhdO4HSDQ  2.190476
5      -0NhdsDJsdarxyDPR523ZQ  2.909091
6      -0NrB58jqKqJfuUCDupcsw  3.319149
7      -0RRiWDtfnS16AKCtfvBZg  4.500000
8      -0aOudcaAyac0VJbMX-L1g  3.071429
9      -0mgn9dRi95otXd_h61LdA  3.478261
10     -25X5v1q3WU6s-craJSvTw  3.190476
11     -2EAyppKR_2xuLyvJZEbRQ  2.333333
12     -2TBP3ZGu7M-FmfoNJvbrQ  3.736842
13     -2hOglg7Lh8ZgclQJ9ba2w  3.516129
14     -33BHZKxCiREa1cfa672OQ  2.066667
15     -3VEk6j5XnEnOOthoY2jYQ  2.666667
16     -3iE3lPp18Tn2ixqIRJB_w  4.500000
17     -4B9nqmqqWUxzbQarf40uQ  3.411765
18     -4uT6QFVaRtc2Zmxvtd9Vg  4.750000
19     -59dl6bXMKpmv38TosZJlg  4.500000
20     -6GJMc_Ln7csmvWWvY2iug  2.800000
21     -6mzdR0YjOToJ8E04Y9O0Q  3.571429
22     -6sE5v4OrVGmWxdIrbs-RQ  4.818182
23     -7BCZH437U5FjmNJ26llkg  4.307692
24     -7XWJYkutqhIxLen7Grg1g  3.673684
25     -80pfkoY1Br4BrcGjy87JA  4.857143
26     -9NsB0DPOp1fG5FvE3iAcg  3.200000
27     -9u2uFwhlj3Yq4mG5IweoA  3.304636
28     -AVRReI-nfsa0lKlehEojw  3.217391
29     -Ag1PS0_G0yGxLWv_pULiA  3.000000
...                       ...       ...
10884  zrYpLdnGKA_EmOhgRCy_vg  3.800000
10885  zravs6cwUxUWsxf1z4P3_Q  2.333333
10886  zs682_KLZ6bwPEgk0OvAyA  2.888889
10887  zsLKMCnwK_NmZJkI7TJk1A  5.000000
10888  zsgvTFimYf4stONAJOyePw  2.777778
10889  zsuMI3wO4qWwEEHuf90XFA  2.333333
10890  zsyQEMYhIDcdGLbf-kYlRw  2.764706
10891  ztzjD1Zs5tfMZTYKXkmL9Q  3.769231
10892  zu5dqKqPjJCycS5k-92Alg  3.250000
10893  zu8Wj0gkbdnia7Dt4grMkQ  3.894737
10894  zuCgnSkJa3aFB5s1-8ew4g  3.812500
10895  zvOy4znhODeXleiublTsRg  4.000000
10896  zvezLicNkf8tTqZyYhP83w  2.820513
10897  zvtkeghW0Px5HY9QkJ4INw  3.606061
10898  zw74kL1IvT65yRvNLx5UxA  3.200000
10899  zwANZuuXMSgBR5UXu19UBw  2.333333
10900  zwFRdFxgCV6bF6DAajpCtA  2.666667
10901  zwGu5H7MnilB9Fw7DZ7kXQ  1.888889
10902  zwMg7Qey7suZIw31S3jKmA  3.500000
10903  zy-JsMCeTlY71akNeBuLvg  3.000000
10904  zy5UZvaG4iOLSbxuophtTQ  3.375000
10905  zyEnTgWFUydT-Qz_3UK-IA  2.944444
10906  zy_NHTqtfSrfTGGPoqy4Mw  3.200000
10907  zyw5DjrRks7a8OhmBsgCQQ  3.095745
10908  zz3CqZhNx2rQ_Yp6zHze-A  2.978723
10909  zzCsh8Rx40ZXcyDrzFnfOQ  2.400000
10910  zzH3E5DA8eMzFwv2k5izyw  4.142857
10911  zzUj3ej4vm_DtvRxNvWDEw  3.172727
10912  zze6IysT7bJFS8gvi6fZ2A  3.300000
10913  zzvlwkcNR1CCqOPXwuvz2A  3.200000

[10914 rows x 2 columns]

In [5]:
stars = review.groupby('business_id', as_index=False)['stars'].agg(['mean', 'std'])
stars['stars_avg'] = stars['mean']
stars['stars_std'] = stars['std']
stars['business_id'] = stars.index
stars.head()

,mean,std,stars_avg,stars_std,business_id
business_id,,,,,
--DaPTJW3-tB1vP-PfdTEg,3.688889,1.221441,3.688889,1.221441,--DaPTJW3-tB1vP-PfdTEg
--SrzpvFLwP_YFwB_Cetow,3.522727,1.171138,3.522727,1.171138,--SrzpvFLwP_YFwB_Cetow
--lZAZSwpP_axKoL4lR9dQ,4.333333,1.154701,4.333333,1.154701,--lZAZSwpP_axKoL4lR9dQ
-0CCHBui57tZ_1y_14X-5Q,4.666667,0.516398,4.666667,0.516398,-0CCHBui57tZ_1y_14X-5Q
-0CTrPQNiSyClxhdO4HSDQ,2.190476,1.123345,2.190476,1.123345,-0CTrPQNiSyClxhdO4HSDQ

In [6]:
join = rest.join(stars[['stars_avg', 'stars_std']], on='business_id')
diff = np.abs(join['stars'] - join['stars_avg']).sort_values(ascending=False)
(diff > 0.25).sum()

13

In [7]:
join.isna().describe()

,address,attributes,categories,city,hours,is_open,latitude,longitude,name,neighborhood,postal_code,review_count,stars,state,stars_avg,stars_std
count,10914,10914,10914,10914,10914,10914,10914,10914,10914,10914,10914,10914,10914,10914,10914,10914
unique,1,2,1,1,2,1,1,1,1,1,1,1,1,1,1,1
top,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
freq,10914,10623,10914,10914,8085,10914,10914,10914,10914,10914,10914,10914,10914,10914,10914,10914

In [8]:
# attributes, hours have null values

In [9]:
df = join[['stars_avg', 'stars_std', 'categories', 'latitude', 'longitude', 'postal_code', 'hours']]

In [10]:
categories = pd.DataFrame(columns=['count'])
for category_list in rest.categories:
    for category in category_list.split(','):
        cat_strip = category.strip().lower()
        if cat_strip in categories.index:
            categories.loc[cat_strip] += 1
        else:
            categories.loc[cat_strip] = 1
            
categories.head()

             count
food          2625
bakeries       740
restaurants   9819
thai           371
cajun/creole    45

In [11]:
categories = categories.astype(int)
categories.describe()

             count
count   378.000000
mean    107.796296
std     552.825526
min       1.000000
25%       1.000000
50%       7.000000
75%      44.000000
max    9819.000000

In [12]:
int(categories.loc[category])

KeyError: 'the label [ Event Planning & Services] is not in the [index]'

In [ ]:
df['other_category'] = False

for category in categories.index:
    if int(categories.loc[category]) < 10:
        df['other_category'] = df['other_category'] | df['categories'].str.contains(category)

In [ ]:
hrs_df = df[~df.hours.isna()]
daily_hrs = hrs_df['hours'].apply(pd.Series)

In [ ]:
start_end_df = pd.DataFrame(index=hrs_df.index)

for day in daily_hrs.columns:
    
    start_hr = daily_hrs[day].str.split(':').str[0].fillna('12').astype(int)
    start_min = \
        daily_hrs[day].str.split(':').str[1].str.split('-').str[0].fillna('0').astype(int)
    start = start_hr + start_min/60
    start_end_df["%s_start" % day] = start
    
    end_hr = \
        daily_hrs[day].str.split('-').str[1].str.split(':').str[0].fillna('12').astype(int)
    end_min = \
        daily_hrs[day].str.split('-').str[1].str.split(':').str[1].fillna('0').astype(int)
    end = end_hr + end_min/60
    end[end < start] += 24
    start_end_df["%s_end" % day] = end

In [ ]:
df = df.merge(start_end_df, how='left', left_on=df.index, right_on=start_end_df.index)

In [ ]:
df.fillna(df.mean(), inplace = True)

In [ ]:
df['business_id'] = df['key_0']
df.drop(['key_0', 'hours'], axis=1, inplace=True)

In [ ]:
df.to_pickle("tor_rest_features.p")

In [ ]:
df.head()

In [ ]:
counts = df[list(categories)].sum().sort_values(ascending=False)
counts[counts > 20]

In [ ]:
df.columns

In [ ]:
df[df.columns[df.columns.str.contains('Fri')]]